html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;  
}
nav{
    margin-bottom: 0px;
    width: 100%;
}
nav  a.brand-logo{
    padding-left: 15px;
}
p{
    font-size: 1.5rem;
}
.modal{
    height: 900px;
    min-width: 450px;
    max-width: 700px;
    padding: 20px;
}
.profile-img{
    padding:25px
}
.card{
    border-radius: 10px;
}
.card-content{
    border-radius: 10px;
}
p{
    font-size: 20px;
}
.card-content a{
    color: white;
}
.skills button{
    margin: 5px;
}
section.skills{
    min-height: 1000px;
}
section.about{ 
    min-height: 800px;
    background: rgb(212,72,25);
    background: linear-gradient(140deg, rgba(212,72,25,1) 16%, rgba(8,117,66,1) 88%);
}
section.projects{
    min-height: 1100px;
}
footer.contact{
   min-height: 500px;
}
.contact a{
    color: white;
}
.btn{
    border-radius: 10px;
    background: rgb(212,72,25);
    background: linear-gradient(140deg, rgba(212,72,25,1) 16%, rgba(8,117,66,1) 88%);
}
.skills .btn{
    background: none;
    border: 2px solid white;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);    
}
h1{
    font-weight: 500;    
}
i{
    padding: 10px;
}
.progress{
    height :  20px;
    background-color : #ffffff;    
}
.progress:hover{
    box-shadow: 0 4px 8px 0 rgba(230, 230, 230, 0.2), 0 6px 20px 0 rgba(230, 230, 230, 0.19);
    /* height: 25px; */
}
.progress .determinate{
    /* background-color : #d44819; */
    background: rgb(212,72,25);
    background: linear-gradient(140deg, rgba(212,72,25,1) 16%, rgba(8,117,66,1) 88%);
}
.skills .s8{
    padding-top: 15px;
}
.skills .h5{
    font-weight: 500;
    border: 2px white;
}
a.brand-logo{
    font-weight: 500;
}